<div class="account_main" fxFlex>
    <div class="user_card">

    </div>
    <div class="profile_details">
        <div fxLayout="row" class="profile_header">
            <div fxFlex="50" fxLayoutAlign="none center">
                <h2>Profile Details</h2>
            </div>
            <div fxFlex="50" fxLayoutAlign="end center">
                <dx-button stylingMode="contained" text="Contained" type="default" [width]="120">
                </dx-button>
            </div>
        </div>
        <div  fxLayout="row" class="profile_main">

        </div>
    </div>
</div>